<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933141902352-12braq4s15fdtd629oc0qnvk2ao5kcmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933141902352-12braq4s15fdtd629oc0qnvk2ao5kcmq</string>
	<key>API_KEY</key>
	<string>AIzaSyCH78G6wV93UNyoHt9jMKDAH4zFuWCMoL4</string>
	<key>GCM_SENDER_ID</key>
	<string>933141902352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carrentalApp</string>
	<key>PROJECT_ID</key>
	<string>carrentalapp-d23ba</string>
	<key>STORAGE_BUCKET</key>
	<string>carrentalapp-d23ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933141902352:ios:14a606a1e068fde8930695</string>
	<key>DATABASE_URL</key>
	<string>https://carrentalapp-d23ba-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>